*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

body {
  background-color: seagreen;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  gap: 150px;
}

#game {
  display: none;
}

#game-start {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 780px;
  height: 500px;
}

#ship-placement {
  display: none;
}

#player-board-container,
#enemy-board-container,
#ship-board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.game-board,
.ship-board {
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  background-color: black;
  gap: 2px;
  padding: 2px;

  .board-cell {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(127, 125, 241);
  }

  .board-cell * {
    pointer-events: none;
  }

  .hit {
    background-color: red;
    border-radius: 50%;
    width: 30%;
    height: 30%;
  }

  .miss {
    background-color: black;
    border-radius: 50%;
    width: 30%;
    height: 30%;
  }

  .ship {
    background-color: lightgrey;
    width: 100%;
    height: 100%;
  }
}

#ship-selection {
  display: flex;
  flex-direction: column;
  gap: 50px;

  #placement-menu {
    display: flex;
    flex-direction: column;
    width: 150px;
    gap: 20px;
    button {
      height: 50px;
    }
  }

  #ships {
    display: flex;
    flex-direction: column;
    gap: 10px;

    #ship-carrier {
      background-color: rgb(127, 125, 241);
      border: 2px solid black;
      height: 40px;
      width: 40px * 5;
      cursor: move;
    }

    #ship-battleship {
      background-color: rgb(127, 125, 241);
      border: 2px solid black;
      height: 40px;
      width: 40px * 4;
      cursor: move;
    }

    #ship-cruiser {
      background-color: rgb(127, 125, 241);
      border: 2px solid black;
      height: 40px;
      width: 40px * 3;
      cursor: move;
    }

    #ship-submarine {
      background-color: rgb(127, 125, 241);
      border: 2px solid black;
      height: 40px;
      width: 40px * 3;
      cursor: move;
    }

    #ship-destroyer {
      background-color: rgb(127, 125, 241);
      border: 2px solid black;
      height: 40px;
      width: 40px * 2;
      cursor: move;
    }
  }
}

#main-menu {
  display: flex;
  background-color: lightseagreen;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  button {
    height: 50px;
    width: 150px;
  }
}

#player-name-entry {
  display: none;
  background-color: lightseagreen;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 25px;

  button {
    height: 50px;
    width: 150px;
  }

  input {
    padding: 10px;
  }
}

.visible {
  display: flex;
}
