@mixin respond($breakpoint) {
  //screen less than 640px;
  @if $breakpoint==mobile {
    @media only screen and (max-width: 640px) {
      @content;
    }
  }

  //screen between 641px and 1007px;
  @if $breakpoint==tablet {
    @media only screen and (min-width: 641px) and (max-width: 1007px) {
      @content;
    }
  }

  //screen bigger than 1008px;
  @if $breakpoint==laptop {
    @media only screen and (min-width: 1008px) {
      @content;
    }
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --cell-height: 40px;

  @include respond(mobile) {
    --cell-height: 30px;
  }

  --cell-width: var(--cell-height);
}

$bg-color: #4c5760;
$ship-color: #879496;
$app-container-bg: #93a8ac;
$button-color: #a59e8c;

html {
  font-size: 62.5%;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

p {
  font-size: 1.9rem;
}

button {
  outline: none;
  border: none;
  background-color: #a59e8c;
  border: 3px solid #66635b;
  border-radius: 5px;
  font-weight: bold;
}

body {
  background-color: $bg-color;
  width: 100vw;
  height: 100vh;
  @include respond(mobile) {
    height: fit-content;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  margin-bottom: 65px;
  img {
    @include respond(mobile) {
      height: auto;
      width: 420px;
    }
  }
}

footer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
  font-size: 1.8rem;
}

footer a:hover {
  img {
    transform: scale(1.1);
  }
}

#game {
  display: none;
  flex-direction: column;

  #info-panel {
    display: flex;
    justify-content: center;
    h2 {
      display: none;
    }
  }

  #game-container {
    display: flex;
    gap: 150px;
    @include respond(mobile) {
      flex-direction: column;
      gap: 50px;
    }
  }
}

#game-over {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  button {
    height: 50px;
    width: 150px;
  }

  #game-over-box {
    background-color: #93a8ac;
    gap: 20px;
    padding: 45px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    button {
      height: 50px;
      width: 150px;
    }
  }
}

#game-start {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 750px;
  height: 430px;
  border-radius: 10px;
  @include respond(mobile) {
    width: 100vw;
    padding: 0 25px 0 25px;
    height: 330px;
  }

  button {
    height: 50px;
    width: 150px;
  }
}

#main-menu {
  display: flex;
  background-color: $app-container-bg;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  gap: 25px;
}

#pass-device {
  display: none;
  background-color: $app-container-bg;
  gap: 25px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 750px;
  height: 430px;
  border-radius: 10px;

  @include respond(mobile) {
    width: 100vw;
    padding: 0 25px 0 25px;
    height: 330px;
  }

  button {
    height: 50px;
    width: 150px;
  }
}

#player-name-entry {
  display: none;
  background-color: $app-container-bg;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 25px;
  border-radius: 10px;
  input {
    padding: 10px;
  }
}

.visible {
  display: flex;
}

#ship-placement {
  display: none;
  gap: 150px;

  @include respond(mobile) {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
}

#player-board-container,
#enemy-board-container,
#ship-board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.game-board,
.ship-board {
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);
  background-color: black;
  gap: 2px;
  padding: 2px;

  .board-cell {
    width: var(--cell-width);
    height: var(--cell-height);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(127, 125, 241);
  }

  .board-cell * {
    pointer-events: none;
  }

  .hit {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $ship-color;
    width: 100%;
    height: 100%;
  }

  .hit::after {
    content: '\D7';
    font-size: calc(var(--cell-height) * 1.6);
    font-weight: bold;
    color: red;
  }

  .miss {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .miss::after {
    content: '\D7';
    font-size: calc(var(--cell-height) * 1.6);
    font-weight: bold;
    color: black;
  }

  .ship {
    background-color: $ship-color;
    width: 100%;
    height: 100%;
  }
}

#ship-carrier,
#dragging-carrier {
  background-color: $ship-color;
  border: 2px solid black;
  height: 40px;
  width: 40px * 5;
  cursor: move;
  touch-action: none;
}

#ship-battleship,
#dragging-battleship {
  background-color: $ship-color;
  border: 2px solid black;
  height: 40px;
  width: 40px * 4;
  cursor: move;
  touch-action: none;
}

#ship-cruiser,
#dragging-cruiser {
  background-color: $ship-color;
  border: 2px solid black;
  height: 40px;
  width: 40px * 3;
  cursor: move;
  touch-action: none;
}

#ship-submarine,
#dragging-submarine {
  background-color: $ship-color;
  border: 2px solid black;
  height: 40px;
  width: 40px * 3;
  cursor: move;
  touch-action: none;
}

#ship-destroyer,
#dragging-destroyer {
  background-color: $ship-color;
  border: 2px solid black;
  height: 40px;
  width: 40px * 2;
  cursor: move;
  touch-action: none;
}

#ship-selection {
  display: flex;
  flex-direction: column;
  gap: 15px;

  #placement-menu {
    display: flex;
    width: 150px;
    gap: 15px;
    button {
      height: 45px;
    }
  }

  #ships {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
